@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Vollkorn:wght@400;500;600;700;800&display=swap");

.font-sans {
  font-family: Figtree;
}

.font-serif {
  font-family: Playfair Display;
}
body {
  @apply font-sans;
  font-weight: 300;
}

h1 {
  @apply font-sans;
  font-weight: 400;
  letter-spacing: -3px;
}
