
.font-sans {
  // font-family: Figtree;
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
}

.font-serif {
  font-family: Playfair Display;
}

body {
  @apply font-sans;
  font-weight: 300;
}

h1 {
  @apply font-sans;
  font-weight: 400;
  letter-spacing: -3px;
}
